<div class="max-w-[94%] m-auto">
    <div class="flex border-t-2 border-gray-200 py-12 justify-between">
        <div class="flex justify-between text-sm font-medium w-[75%]">
            <div class="w-[33%]">
                <h4 class="mb-8">Recursos</h4>
                <div class="flex flex-col gap-4 text-gray-500">
                    <p>Tarjetas de regalo</p>
                    <p>Tarjetas de regalo corporativas</p>
                    <p>Buscar una tienda</p>
                    <p>Nike Journal</p>
                    <p>Hazte Member</p>
                    <p>Descuento para estudiantes</p>
                    <p>Comentarios</p>
                    <p>Códigos promocionales</p>
                </div>
            </div>
            <div class="w-[33%]">
                <h4 class="mb-8">Ayuda</h4>
                <div class="flex flex-col gap-4 text-gray-500">
                    <p>Obtener ayuda</p>
                    <p>Estado del pedido</p>
                    <p>Envíos y entregas</p>
                    <p>Devoluciones</p>
                    <p>Opciones de pago</p>
                    <p>Contacto</p>
                    <p>Evaluaciones</p>
                    <p>Ayuda con los códigos promocionales de Nike</p>
                </div>
            </div>
            <div class="w-[33%]">
                <h4 class="mb-8">Empresa</h4>
                <div class="flex flex-col gap-4 text-gray-500">
                    <p>Acerca de Nike</p>
                    <p>Novedades</p>
                    <p>Empleo</p>
                    <p>Inversores</p>
                    <p>Sostenibilidad</p>
                    <p>Propópsito</p>
                    <p>Informar de un problema</p>
                </div>
            </div>
        </div>
        <div class="w-[25%]">
            <div class="flex gap-2 items-center justify-end">
                <img src="/images/globo.png" alt="" class="h-4 w-4">
                <h4 class="text-sm text-gray-600 font-medium">España</h4>
            </div>
        </div>
    </div>
    <div class="flex gap-6 text-sm font-medium mt-6 mb-22 text-gray-500">
        <p>© 2025 Nike, Inc. Todos los derechos reservados</p>
        <p>Guías</p>
        <p>Términos de uso</p>
        <p>Aviso legal</p>
        <p>Política de privacidad y cookies</p>
        <p>Configuración de privacidad y cookies</p>
    </div>
</div>