<div class="flex justify-between items-center p-2 bg-gray-100 px-12">
    <div class="flex gap-6">
        <a href="https://www.nike.com/es/jordan" target="_blank"><img src="http://192.168.181.145/jordan.png" alt="Joradn" class="w-6 h-6 p-0.5"></a>
        <a href="https://www.converse.com/es/go?lang=es_ES" target="_blank"><img src="http://192.168.181.145/converse.png" alt="Converse" class="w-6 h-6 p-0.5"></a>
    </div>
    <div class="flex gap-3 text-xs font-bold">
        <p class="cursor-pointer hover:text-gray-500">Buscar una tienda</p>
        <p class="font-light">|</p>
        <p class="cursor-pointer hover:text-gray-500">Ayuda</p>
        <p class="font-light">|</p>
        <p class="cursor-pointer hover:text-gray-500">Únete a nosotros</p>
        <p class="font-light">|</p>
        <p class="cursor-pointer hover:text-gray-500">Iniciar Sesión</p>
    </div>
</div>